

fieldset {
  width: 600px;
  margin: 120px auto 0 auto;
}

.text, fieldset {
  border: 1px solid #c2c2c2;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px; 
  
}
.text {
  outline: none;
  font-size: 30px;
  padding: 10px;
  font-family: georgia;
  color: #aaa
}

.text:focus{
  -webkit-box-shadow: 1px 1px 4px #999 inset;
  -moz-box-shadow: 1px 1px 4px #999 inset;
  -o-box-shadow: 1px 1px 4px #999 inset;
  box-shadow: 1px 1px 4px #999 inset;
  border-color: #555;
}
h1 { 
	color: red;
}
.fancy {
  
}

	


